.footer{
  position: fixed;
  bottom: 0vw;
  width: 100%;
border-top: 0.1px solid black;
background: white;
height: 12vw;
}
.fun img{
  width: 8vw;
  justify-content: space-around;
}.fun{
align-items: flex-start;
flex-wrap: nowrap;
justify-content: space-around;
margin-top: 5px;
}
.home{
  flex: 1;
  margin-left: 8vw;
}.search{
  flex: 1;
  margin-left: 17vw;
}.plus{
  flex: 1;
  margin-left: 17vw;
}.profile{
  flex: 1;
  margin-left: 17vw;
}