.rej{
  width: 96vw;
  height:50px;
background: #d6d5d5;
  margin-top: 2vh;
  border-radius: 20px;
  display: flex;
}.rejimg{
  width: 40px;
  height: 40px;
  margin-top: 5px;
}.rejbtn{
  height: 30px;
  margin-top: 11px;
  border-radius: 20px;
  border: none;
  margin-left: 44vw;
}.rejun{
  margin-top: 16px;
  margin-left: 15px;
}.rejf{
  margin-left: 5px;
  margin-top: 16px;
}